<div class="row">
  <h1>Angular Project - Team Management Simulation</h1>
  <h3>Ehsan Ekbatani</h3>
  <hr>
  <p>The purpose or objective of this project is to add security features to my Angular app and the backend Teams API <br> by utilizing the JSON Web Tokens library for authentication.
      <br>The credentials to test the login features are as follows: <br> <br> <br>
      Username: DEMONMAN <br>
      Password: High1234<br>
      </p>
  <hr>
  <p>
    <a href="https://sictweb.github.io/bti425/graded-work/assign6" class="btn btn-primary" target="_blank">Assignment Specifications</a>
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>